td {
    text-align: center;
}

.id {
    width: 5%; 
}

.name {
    width: 20%;
}

.description {
    width: 55%;
}

.category {
    width: 10%;
}

.price {
    width: 5%;
}

.details {
    width: 5%;
}

.table-hover tbody tr:hover td.name {
    font-weight: bold;
}